/* General setup
@font-face {
    font-family: 'neoretrodrawregular';
    src: url('neord___-webfont.woff2') format('woff2'),
         url('neord___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'quicksandregular';
    src: url('quicksand-regular-webfont.woff2') format('woff2'),
         url('quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */



/* .noto-sans {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.yrsa{
  font-family: "Yrsa", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
} */

html {
    font-size: 10px;
    margin: 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Typography */
  
  h1 {
    font-size: 3.2rem;
  }
  
  h2 {
    font-size: 2.4rem;
  }
  
  p {
    font-size: 1.4rem;
    line-height: 1.6;
    word-spacing: 0.6rem;
  }